.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contentWrapper {
    margin: 0 auto;
    width: 40%;
    border: 2px solid #b79492;
    border-radius: 20px;
    padding: 3%;
    background-color: #eee2df;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #b79492;
}

.input {
    border: 2px solid #b79492;
    line-height: 30px;
    border-radius: 10px;
    width: 120%;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color: #b79492;
    resize: none;
    outline: none;
}

::placeholder {
    color: #b79492;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.registerWrapper {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.text {
    padding: 5px 0;
    font-size: 15px;
}

.link {
    font-size: 15px;
    color: #b79492;
    font-weight: 500;
}