.buttonWrapper {
    width: 100%;
    display: flex;
}

.button {
    border: none;
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.primary {
    background-color: #eee2df;
    border-radius: 20px;
    padding: 10px 40px;
    width: 100%;
}

.primary:hover {
    background-color: #b79492;
    color: #eee2df;
}

.secondary {
    background-color: #b79492;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.secondary:hover {
    background-color: #eee2df;
    border: 2px solid #b79492;
}

.submit {
    background-color: #b79492;
    color: #eee2df;
    border: 0.5px solid #eee2df;
    border-radius: 20px;
    padding: 10px 40px;
    width: 100%;
    font-size: 15px;
    font-weight: 600   ;
}

.submit:hover {
    background-color: #eee2df;
    color: #b79492;
    border: 0.5px solid #b79492;
}

.active {
    background-color: aqua;
}